body {
  background: rgb(37, 43, 53);
  color: white
}

main {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  padding-top: 50px;
  max-width: 340px;
  margin: O auto;
  text-align: center;
}

button {
  background-color: transparent;
  color: rgba(62, 152, 199);
  border: 0;
  display: inline-block;
  width: 100px;
}